<section class="footer-links">
    <div class="footer-store f-pad-first">
      <h2>Visit us</h2>
      <a href="https://g.page/urbanindustrystore?share">
        <p>The Depot</p>
        <p>2 Park View, Alder Close</p>
        <p>Eastbourne</p>
        <p>Sussex</p>
        <p>BN23 6QE</p>
        <p>United Kingdom</p>
      </a>
      <div>
        <p>Our Store is open,</p>
        <p>Mon - Fri 9.30am - 4:30pm</p>
        <p>Sat &amp; Sun - Closed</p>
        <p>All UK Bank Holidays - Closed</p>
      </div>
    </div> 
    <div class="footer-contact f-pad">
      <div>
        <!--<img width="30" height="30" src="//cdn.shopify.com/s/files/1/1213/2346/t/155/assets/footer-chat.svg?v=29512852329377295321664790071" alt="mail" class="footer-icon">-->

        <h2>Get in touch</h2>

        <p><a href="mailto:hello@urbanindustry.co.uk">Email us : hello@urbanindustry.co.uk</a></p>
        <p><img src="//www.urbanindustry.co.uk/cdn/shop/t/190/assets/whatsapp_logo.svg?v=52018873052229224391749467726" width="20" height="20" style="display:inline-block; width:28px; height:auto; vertical-align:middle; margin:0 6px 0 0"><a href="https://wa.me/message/B5ESSH73QZGZI1">Whatsapp</a></p>
      </div>
    </div>
    <div class="footer-delivery f-pad">

      <h2>Delivery &amp; Returns</h2>
      <p><a href="/pages/uk-shipping">UK Shipping</a></p>
      <p><a href="/pages/european-shipping">European Shipping</a></p>
      <p><a href="/pages/worldwide_shipping">Worldwide Shipping</a></p>
      <p><a href="/pages/uk_returns">UK Returns</a></p>
      <p><a href="/pages/international-returns">International Returns</a></p>
      

    </div> 
    <div class="footer-info f-pad"> 

      <h2>Other Info and Links</h2>
      <p><a href="/pages/about-urban-industry">About Urban Industry</a></p>
      <p><a href="/blogs/news">The Journal</a></p>
      <p><a href="/apps/wishlist">Your Wishlist</a></p>
      <p><a href="/pages/urban-industry-product-and-service-reviews">Urban Industry Reviews</a></p>
      <p><a href="https://uk.trustpilot.com/review/www.urbanindustry.co.uk">Our Trustpilot Reviews</a></p>
      <p><a href="/pages/careers">Careers</a></p>
      <p><a href="/pages/voucher-codes">Voucher Codes</a></p>
      <p><a href="https://www.urbanindustry.co.uk/pages/faq">FAQ'S - Frequently Asked Questions</a></p>
      <p><a href="/pages/klarna-faqs">Klarna FAQs</a></p>
      <p>Update Currency:</p>
      <form method="post" action="/cart/update" id="ctry" accept-charset="UTF-8" class="shopify-currency-form" enctype="multipart/form-data"><input type="hidden" name="form_type" value="currency"><input type="hidden" name="utf8" value="✓"><input type="hidden" name="return_to" value="/">
      <select name="currency"><option value="AED">AED د.إ</option><option value="AUD">AUD $</option><option value="CAD">CAD $</option><option value="CHF">CHF CHF</option><option value="DKK">DKK kr.</option><option value="EUR">EUR €</option><option value="GBP" selected="selected">GBP £</option><option value="HKD">HKD $</option><option value="ILS">ILS ₪</option><option value="JPY">JPY ¥</option><option value="KRW">KRW ₩</option><option value="NOK">NOK kr</option><option value="NZD">NZD $</option><option value="PHP">PHP ₱</option><option value="PLN">PLN zł</option><option value="SEK">SEK kr</option><option value="SGD">SGD $</option><option value="TWD">TWD $</option></select>
      </form>
    </div> 
  </section>

  <style>

    .footer-links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
    padding: 3rem 0;
    }

    .footer-links h2 {
        font-size:1.25rem;
    }

    .footer-links a {
    text-decoration:none 
    }

     .footer-links p {
        margin:4px 0;
    }

/* Tablet (≤ 1024px) */
@media (max-width: 1024px) {
  .footer-links {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
}

/* Mobile (≤ 640px) */
@media (max-width: 640px) {
  .footer-links {
    grid-template-columns: 1fr;
    gap: 24px;
  }
}

  </style>